<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LocalProductConfigCacheFilePath" value="Configuration\TestFiles\LocalProductUpdateInfo.xml" />
    <add key="LatestProductConfigFilePath" value="Configuration\TestFiles\LatestProductUpdateInfo.xml" />
  </appSettings>
</configuration>